---
# Update and upgrade inside PXE image using chroot

- name: Update apt cache inside PXE image
  shell: chroot /srv/live-build /bin/bash -c "apt-get update"
  args:
    executable: /bin/bash

- name: Upgrade packages inside PXE image
  shell: chroot /srv/live-build /bin/bash -c "DEBIAN_FRONTEND=noninteractive apt-get -y dist-upgrade"
  args:
    executable: /bin/bash

